<div class="pagination">
  <button class="pagination__btn" type="button" title="" disabled>
    <svg class="pagination__icon">
      <use xlink:href="styles/icons/sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="pagination__btn pagination__btn--active" type="button" title="">1</button>
  <button class="pagination__btn" type="button" title="">2</button>
  <button class="pagination__btn" type="button" title="">3</button>
  <button class="pagination__btn" type="button" title="">4</button>
  <button class="pagination__btn" type="button" title="">5</button>
  <span class="pagination__dots">...</span>
  <button class="pagination__btn" type="button" title="">99</button>
  <button class="pagination__btn" type="button" title="">
    <svg class="pagination__icon">
      <use xlink:href="styles/icons/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</div>
<button class="btn btn--secondary btn--full show-more-btn" type="button" title="">Show more</button>
