$base-px: 16px;
$base: 16;

$base-white: #fff;

$content-900: #101828;
$content-800: #1d2939;
$content-700: #344054;
$content-600: #475467;
$content-500: #667085;
$content-400: #98a2b3;
$content-300: #d0d5dd;
$content-200: #eaecf0;
$content-100: #f2f4f7;
$content-50: #f9fafb;

$primary-700: #6941c6;
$primary-600: #7f56d9;
$primary-500: #9e77ed;
$primary-300: #d6bbfb;
$primary-200: #e9d7fe;
$primary-100: #f4ebff;
$primary-50: #f9f5ff;

$destructive-700: #b32318;
$destructive-600: #d92d20;
$destructive-200: #fecdc9;

$red-600: #e31b53;
$red-50: #fff1f3;

$orange-600: #dc6803;
$orange-50: #fffaeb;

$green-600: #039855;
$green-50: #ecfdf3;

$grey-600: #57534e;
$grey-50: #f6f6ea;

$blue-600: #0086c9;
$blue-50: #f0f9ff;

$lime-500: #669f2a;
