<div class="toast swiper js-toast">
  <div class="toast__body swiper-wrapper">
    <div class="toast__item swiper-slide">Refer a friend and get $10 off! 🔥 Offer ends February 26!</div>
    <div class="toast__item swiper-slide">Refer a friend and get $10 off! 🔥 Offer ends February 27!</div>
    <div class="toast__item swiper-slide">Refer a friend and get $10 off! 🔥 Offer ends February 28!</div>
  </div>
  <button class="toast__btn toast__btn--prev js-toast-prev" type="button" title="">
    <svg>
      <use xlink:href="styles/icons/sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="toast__btn toast__btn--next js-toast-next" type="button" title="">
    <svg>
      <use xlink:href="styles/icons/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</div>
