<header class="header">
  <div class="container-large header__toast">
    @@include("../toast/toast.html")
  </div>
  <div class="header__top container">
    <button class="link link--primary header__pin" type="button" title="">
      <svg class="link__icon">
        <use xlink:href="styles/icons/sprite.svg#pin"></use>
      </svg>
      Dublin, Republic of Ireland
    </button>

    <div class="header__links">
      <a class="icon-link" href="" title="">
        <svg>
          <use xlink:href="styles/icons/sprite.svg#search"></use>
        </svg>
      </a>
      <a class="icon-link" href="" title="">
        <svg>
          <use xlink:href="styles/icons/sprite.svg#user"></use>
        </svg>
      </a>
      <a class="icon-link" href="" title="">
        <svg>
          <use xlink:href="styles/icons/sprite.svg#cart"></use>
        </svg>
      </a>
    </div>
    <a class="header__logo" title="">
      <img src="assets/logo.svg" alt="" />
    </a>
  </div>
  <div class="header__nav">
    <div class="nav container">
      <nav class="nav__list">
        <a class="nav__link" href="" title="">Discover</a>
        <a class="nav__link" href="" title="">Browse</a>
        <a class="nav__link" href="" title="">Store</a>
        <a class="nav__link" href="" title="">Platforms</a>
        <a class="nav__link" href="" title="">Releases</a>
        <a class="nav__link" href="" title="">Mobile</a>
        <a class="nav__link" href="" title="">Articles</a>
        <a class="nav__link" href="" title="">Blog</a>
        <a class="nav__link" href="" title="">News</a>
        <a class="nav__link" href="" title="">Contacts</a>
      </nav>
    </div>
  </div>
</header>
