<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div>
        <h3 class="footer__title">Join our newsletter</h3>
        <p class="footer__text">We’ll send you a nice letter one per week. No spam.</p>
      </div>
      <form class="footer__form">
        @@include("../field/field.html", {"lbl": "", "search": false, "placeholder": "Enter email", "type": "email"})
        <button class="btn btn--primary" type="submit" title="">Subscribe</button>
      </form>
    </div>
    <div class="footer__nav">
      <div class="footer__col">
        <h4 class="footer__subtitle">Categories</h4>
        <a class="link link--secondary footer__link" href="" title="">Strategy</a>
        <a class="link link--secondary footer__link" href="" title="">Action</a>
        <a class="link link--secondary footer__link" href="" title="">Shooter</a>
        <a class="link link--secondary footer__link" href="" title="">Card Game</a>
        <a class="link link--secondary footer__link" href="" title="">Simulator</a>
        <a class="link link--secondary footer__link" href="" title="">RPG</a>
        <a class="link link--secondary footer__link" href="" title="">Multiplayer</a>
      </div>
      <div class="footer__col">
        <h4 class="footer__subtitle">Company</h4>
        <a class="link link--secondary footer__link" href="" title="">About us</a>
        <a class="link link--secondary footer__link" href="" title="">Careers</a>
        <a class="link link--secondary footer__link" href="" title="">Press</a>
        <a class="link link--secondary footer__link" href="" title="">News</a>
        <a class="link link--secondary footer__link" href="" title="">Contact</a>
      </div>
      <div class="footer__col">
        <h4 class="footer__subtitle">Legal</h4>
        <a class="link link--secondary footer__link" href="" title="">Terms</a>
        <a class="link link--secondary footer__link" href="" title="">Privacy</a>
        <a class="link link--secondary footer__link" href="" title="">Cookies</a>
        <a class="link link--secondary footer__link" href="" title="">Licenses</a>
        <a class="link link--secondary footer__link" href="" title="">Settings</a>
      </div>
      <div class="footer__col">
        <h4 class="footer__subtitle">Legal</h4>
        <a class="link link--secondary footer__link" href="" title="">Twitter</a>
        <a class="link link--secondary footer__link" href="" title="">Facebook</a>
        <a class="link link--secondary footer__link" href="" title="">Dribbble</a>
        <a class="link link--secondary footer__link" href="" title="">GitHub</a>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">Copyright © GameVendor, 2022</p>
    </div>
  </div>
</footer>
