<div class="search">
  <div class="search__item-l">
    @@include("../field/field.html", {"lbl": "Search for games", "search": true, "placeholder": "Search...", "type": "text"})
  </div>
  <div class="search__item-s">
    @@include("../select/select.html", {"js-class": "js-multi-select", "lbl": "Category", "option1": "Strategy", "option2":"RPG", "option3":"Action", "option4":"Shooter"})
  </div>
  <div class="search__item-s">
    @@include("../select/select.html", {"js-class": "js-select", "lbl": "Sort by", "option1": "Popular", "option2":"Popular", "option3":"Popular", "option4":"Popular"})
  </div>
  <button class="btn btn--secondary search__btn js-filter-btn" type="button" title="">
    <svg class="btn__icon">
      <use xlink:href="styles/icons/sprite.svg#filter"></use>
    </svg>
    Filters
  </button>
</div>
<div class="tags">
  @@include("../tag/tag.html", {"text":"Strategy"}) @@include("../tag/tag.html", {"text":"RPG"})
  @@include("../tag/tag.html", {"text":"Action"}) @@include("../tag/tag.html", {"text":"Shooter"})
  @@include("../tag/tag.html", {"text":"Clear all"})
</div>
