<div class="accordion">
  <h2 class="accordion__title">Frequently asked questions</h2>
  <p class="accordion__subtitle">Everything you need to know about the games.</p>
  <div class="accordion__item">
    <button class="accordion__btn js-accordion-btn" type="button" title="">
      How does work?
      <svg class="accordion__icon">
        <use class="accordion__close" xlink:href="styles/icons/sprite.svg#plus-circle"></use>
        <use class="accordion__open" xlink:href="styles/icons/sprite.svg#minus-circle"></use>
      </svg>
    </button>
    <div class="accordion__body js-accordion-body">
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
      </p>
    </div>
  </div>
  <div class="accordion__item">
    <button class="accordion__btn js-accordion-btn" type="button" title="">
      What is a game?
      <svg class="accordion__icon">
        <use class="accordion__close" xlink:href="styles/icons/sprite.svg#plus-circle"></use>
        <use class="accordion__open" xlink:href="styles/icons/sprite.svg#minus-circle"></use>
      </svg>
    </button>
    <div class="accordion__body js-accordion-body">
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
      </p>
      <ul>
        <li>motion sensing device,</li>
        <li>controller,</li>
        <li>keyboard,</li>
        <li>joystick.</li>
      </ul>
      <h4>Visual feedback.</h4>
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.
      </p>
    </div>
  </div>
  <div class="accordion__item">
    <button class="accordion__btn js-accordion-btn" type="button" title="">
      Is there a free trial available?
      <svg class="accordion__icon">
        <use class="accordion__close" xlink:href="styles/icons/sprite.svg#plus-circle"></use>
        <use class="accordion__open" xlink:href="styles/icons/sprite.svg#minus-circle"></use>
      </svg>
    </button>
    <div class="accordion__body js-accordion-body">
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
      </p>
      <ul>
        <li>motion sensing device,</li>
        <li>controller,</li>
        <li>keyboard,</li>
        <li>joystick.</li>
      </ul>
      <h4>Visual feedback.</h4>
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.
      </p>
    </div>
  </div>
  <div class="accordion__item">
    <button class="accordion__btn js-accordion-btn" type="button" title="">
      How does billing work?
      <svg class="accordion__icon">
        <use class="accordion__close" xlink:href="styles/icons/sprite.svg#plus-circle"></use>
        <use class="accordion__open" xlink:href="styles/icons/sprite.svg#minus-circle"></use>
      </svg>
    </button>
    <div class="accordion__body js-accordion-body">
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback. This
        feedback is shown on a video display device, such as a TV set, monitor, touchscreen, or virtual reality headset.
      </p>
      <ul>
        <li>motion sensing device,</li>
        <li>controller,</li>
        <li>keyboard,</li>
        <li>joystick.</li>
      </ul>
      <h4>Visual feedback.</h4>
      <p>
        A video game or computer game is an electronic game that involves interaction with a user interface or input
        device – such as a joystick, controller, keyboard, or motion sensing device – to generate visual feedback.
      </p>
    </div>
  </div>
</div>
