<div class="banner">
  <div class="banner__bg banner__bg--lg">
    <img src="assets/banner-bg.svg" data-img-cover alt="" />
  </div>
  <div class="banner__bg banner__bg--xs">
    <img src="assets/banner-bg-xs.svg" data-img-cover alt="" />
  </div>
  <h2 class="banner__title">Refer a friends and get $10 off!</h2>
  <p class="banner__text">Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.</p>
  <a class="banner__btn btn btn--secondary" href="" title="">
    <img class="btn__spinner-single" src="assets/spinner-dark.svg" alt="" />
    <span class="btn__text">Invite a friend</span>
  </a>
  <div class="banner__media">
    <img src="assets/banner.png" data-img-cover alt="" />
  </div>
</div>
