<div class="mobile-nav">
  <a class="mobile-nav__link mobile-nav__link--active" href="" title="">
    <svg class="mobile-nav__icon">
      <use xlink:href="styles/icons/sprite.svg#home"></use>
    </svg>
    <span>Home</span>
  </a>
  <a class="mobile-nav__link" href="" title="">
    <svg class="mobile-nav__icon">
      <use xlink:href="styles/icons/sprite.svg#browse"></use>
    </svg>
    <span>Browse</span>
  </a>
  <a class="mobile-nav__link" href="" title="">
    <svg class="mobile-nav__icon">
      <use xlink:href="styles/icons/sprite.svg#search"></use>
    </svg>
    <span>Search</span>
  </a>
  <a class="mobile-nav__link" href="" title="">
    <svg class="mobile-nav__icon">
      <use xlink:href="styles/icons/sprite.svg#user"></use>
    </svg>
    <span>Account</span>
  </a>
  <a class="mobile-nav__link" href="" title="">
    <svg class="mobile-nav__icon">
      <use xlink:href="styles/icons/sprite.svg#cart"></use>
    </svg>
    <span>Cart</span>
  </a>
</div>
